.student-base {
  margin-bottom: 3rem;
}

.student-base h3 {
  font-size: 2rem;
}

.student-base p {
  font-size: 1.6rem;
  margin: 1.5rem 0rem 2.2rem 0rem;
  line-height: 2.5rem;
}

.student-base a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #3366FF;
  padding: 0.2rem 1.5rem;
  border-radius: 5%;
}

.btn-tags {
  text-align: center;
}

.btn-tags a {
  text-decoration: none;
  display: inline-block;
  width: 20%;
  background-color: #3366FF;
  margin: 0% 6%;
  border-radius: 20%;
  padding: 1.5rem 0rem;
  transition: box-shadow .3s;
}

.btn-tags a nb-icon,
.student-base a,
.btn-tags a p {
  color: white
}

.btn-tags a nb-icon {
  font-size: 3.4rem;
}

.btn-tags a p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding-top: 1rem;
  margin: 0;
}

.btn-tags a:hover {
  box-shadow: 0 0 50px rgba(41, 38, 38, 0.4);
}

.icon-dash a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.select1, .select2, .select3, .select4 {
  border-radius: 4px;
  padding: 0.3rem 1rem;
}
.t-f td:nth-child(2) {
  width: 4.4rem;
}

.t-f td input {
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  padding: 5px 0px 5px 5px;
}

.e-d td span {
  display: inline-block;
}

.e-d td span nb-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.t-f td,
.e-d td,
.t-h th {
  border: none !important;
}

.t-f td button {
  padding: 0rem 1rem;
}

.t-f td button nb-icon {
  font-size: 1.6rem;
}

.table th,
.table td {
  border: none !important;
}
