<nb-card>
  <nb-card-body>
    <div class="row">

      <div class="  col-sm-6 student-base">
        <h3>SEASON CONFIGURATION</h3>
        <p>This page is used to Manipulated Student Data.</p>
        <a href="#" class="More-info" title="More"> More Info >></a>
      </div>

      <div class="  col-sm-6 btn-tags">
        <a href="#" title="Person Add">
          <nb-icon icon="person-add-outline"></nb-icon>
          <p>Set Classes</p>
        </a>

        <a href="#" title="People">
          <nb-icon icon="people-outline"></nb-icon>
          <p>Set Students</p>
        </a>

        <a href="#" title="Person Remove">
          <nb-icon icon="person-remove-outline"></nb-icon>
          <p>Students Pool</p>
        </a>

      </div>

    </div>
  </nb-card-body>
</nb-card>

<nb-card>

    <nb-card-header class="row">
        <h5 class="col-sm-6">Set Classes</h5>
        <span class="col-sm-3"> <input type="text" class="form-control" placeholder="Search ......"></span>
        <span class="col-sm-3 text-center"><button nb-button class="btn btn-primary" title="Export As CSV"> Export As
            CSV</button></span>
      </nb-card-header>
 
  <!-- <nb-card-header>
      Set Classes
    <div class="row mg">
      <table class="col-sm-12 table">
        <thead>
          <tr class="t-h">
            <th> Course </th>
            <th> Depts</th>
            
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <select class="select1">
                <option>02 Engineering</option>
                <option>02 Engineering</option>
                <option>01 Engineering</option>
              </select>
            </td>
            <td>
              <select class="select2">
                <option>ME</option>
                <option>BE</option>
              </select>
            </td>

  

          </tr>
        </tbody>
      </table>

    </div>
  </nb-card-header> -->

  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th>Actions</th>
          <th>ID</th>
          <th>Depts</th>
          <th>Level</th>
          <th>Year</th>
          <th>Term</th>
          <th>Sections</th>
        </tr>
      </thead>
      <tbody>
        <tr class="t-f">
          <td>
            <button class="btn btn-primary">
              <nb-icon icon="plus-outline" title="Add"></nb-icon>
            </button>
          </td>
          <td>
            <input type="text" Title="ID" Placeholder="ID" class="input-group">
          </td>
          <td>
            <input type="text" title="Roll Number" placeholder="Roll Number">
          </td>
          <td>
            <input type="text" title="Student Name" placeholder="Student Name">
          </td>
          <td>
            <input type="Email" title="Email ID" placeholder="Email ID">
          </td>
        </tr>

        <tr class="e-d">
          <td>
            <span>
              <nb-icon icon="edit-outline" title="Edit"></nb-icon>
            </span>
            <span>
              <nb-icon icon="trash-2-outline" title="Delete"></nb-icon>
            </span>
          </td>
          <td>01</td>
          <td>ME14B1010</td>
          <td>Student1</td>
          <td>student1@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>

</nb-card>
