<nb-card>
  <nb-card-body>
    <div class="artboard-94 nb-card-header ">
      <nb-card-header><strong>PWI Dashboard</strong></nb-card-header>
      <select>
        <option>01- Engineering</option>
        <option>02- Engineering</option>
        <option>03- Engineering</option>
        <option>04- Engineering</option>
        <option>05- Engineering</option>
      </select>
      <hr>

      <div class="action-needed">
        <div class="row">
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary" title="Papers Proctored"  >
              <h4>08</h4>
              <p>Papers Proctored</p>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary" title="Malpractice Found">
              <h4>02</h4>
              <p>Malpractice Found</p>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary" title="Exams Contributed">
              <h4>04</h4>
              <p>Exams Contributed</p>
            </button>
          </div>
        </div>
      </div>
      <hr>

      <!-- 2nd segment -->

      <div class="header1 nb-card-header">
        <nb-card-header><strong>Action Needed</strong></nb-card-header>
      </div>

      <div class="table-responsive">
        <div class="table color">
          <table class="table table-d">

            <tr>
              <th rowspan="2">#01</th>
              <td>Exam </td>
              <td>Papers</td>
              <td>Slot</td>
              <td>Date | Time</td>
              <td>Venue</td>

              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-text-outline" title="File" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-outline" title="Document" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="log-in-outline" title="Log In" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-add-outline" title="File Add" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="log-out-outline" title="Log Out" class="hover-cross"></nb-icon>
                </a>
              </td>

            </tr>

            <tr>
              <td>Semester 1</td>
              <td>
                <p>ME101</p>
                <p>ME102</p>
              </td>
              <td>01</td>
              <td>03 Jun, 2019 | 10:00</td>
              <td>RG123</td>
            </tr>


          </table>
        </div>
      </div>


      <div class="table-responsive">
        <div class="table color">
          <table class="table table-d">

            <tr>
              <th rowspan="2">#02</th>
              <td>Exam </td>
              <td>Papers</td>
              <td>Slot</td>
              <td>Date | Time</td>
              <td>Venue</td>

              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-text-outline" title="File" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-outline" title="Document" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="log-in-outline" title="Log In" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-add-outline" title="File Add" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="log-out-outline" title="Out" class="hover-cross"></nb-icon>
                </a>
              </td>

            </tr>

            <tr>
              <td>Semester 1</td>
              <td>
                <p>ME101</p>
                <p>ME102</p>
                <p>ME103</p>
              </td>
              <td>02</td>
              <td>04 Jun, 2019 | 10:00</td>
              <td>RG123</td>
            </tr>

          </table>
        </div>
      </div>

      <hr>

      <!-- 3th segment -->

      <div class="header1 nb-card-header">
        <nb-card-header><strong>Previous Activities</strong></nb-card-header>
      </div>

      <div class="table-responsive">
        <div class="table color">
          <table class="table table-d">

            <tr>
              <th rowspan="2">#01</th>
              <td>Exam </td>
              <td>Papers</td>
              <td>Slot</td>
              <td>Date | Time</td>
              <td>Venue</td>

              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-text-outline" title="File" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-outline" title="Document" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="log-in-outline" title="Log In" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="file-add-outline" title="File Add" class="hover-cross"></nb-icon>
                </a>
              </td>
              <td rowspan="2">
                <a href="#">
                  <nb-icon icon="log-out-outline" title="Out" class="hover-cross"></nb-icon>
                </a>
              </td>

            </tr>

            <tr>
              <td>Semester 1</td>
              <td>
                <p>ME101</p>
                <p>ME102</p>
              </td>
              <td>01</td>
              <td>03 Jun, 2019 | 10:00</td>
              <td>RG123</td>
            </tr>

          </table>
        </div>
      </div>


    </div>
  </nb-card-body>
</nb-card>