<div class="Course container">
  <nb-card *ngIf="CourseModule">
    <nb-card-body>
      <div class="row">
        <div class="col-5">
          <div class="HeadTitle p-3">COURSE CONFIGURATION</div>
          <div class="CardContent pl-3">{{CardContent}}</div>
          <div class="CreateBtn pt-2 pl-3">
            <button class="Morebtn mr-2" nbButton shape="rectangle" size="small">More Info<nb-icon
                icon="arrowhead-right-outline"></nb-icon></button>
            <button (click)="BlockTree($event)" class="Blockbtn" nbButton shape="rectangle" size="small">Block
              View</button>
          </div>
        </div>
        <div class="col-7 CourseCategory">
          <button (click)="Course($event)" class="Coursebtn" nbButton size="giant">
            <ul style="list-style-type:none;">
              <li>
                <nb-icon class="CourseIcons" icon="archive-outline"></nb-icon>
              </li>
              <li>Set</li>
              <li>Courses</li>
            </ul>
          </button>
          <button (click)="Depts($event)" class="Coursebtn ml-4 mr-4" nbButton size="giant">
            <ul style="list-style-type:none;">
              <li>
                <nb-icon class="CourseIcons" icon="npm-outline"></nb-icon>
              </li>
              <li>Set</li>
              <li>Depts.</li>
            </ul>
          </button>
          <button (click)="Levels($event)" class="Coursebtn" nbButton size="giant">
            <ul style="list-style-type:none;">
              <li>
                <nb-icon class="CourseIcons" icon="bookmark-outline"></nb-icon>
              </li>
              <li>Set</li>
              <li>Levels</li>
            </ul>
          </button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <!-- Course table -->
  <nb-card *ngIf="setcourse">
    <nb-card-header>
      <div class="row">
        <div class="col-6 CourseTitle"> {{CourseTitle}}</div>
      </div>

    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-8">
          <table class="table table-borderless" id="coursetable">
            <thead>
              <tr>
                <!-- <th *ngFor="let head of headElements" scope="col">{{head}}</th> -->
                <th class="ActionTitle" scope="col">Actions</th>
                <th scope="col">ID</th>
                <th scope="col">Course Name</th>

              </tr>
              <tr>
                <td><button nbButton   size="medium" class="Addbtn" (click)="addCourseValue()" fullWidth>
                    <nb-icon icon="plus-outline"></nb-icon>
                  </button></td>
                <td>
                    
                  <input type="text" class="ConfigId " name="newAttributecourse_id" [(ngModel)]="newAttribute.course_id" nbInput
                    fullWidth placeholder="ID">
                  
                  </td>
                <td>
                 
                  <input type="text" class="ConfigName" id="newAttributecourse_name" name="newAttributecourse_name"
                  [(ngModel)]="newAttribute.course_name" nbInput fullWidth placeholder="Course Name">
                
                </td>
              </tr>
              <tr *ngFor="let field of coursefieldArray; let i = index">
                <td>
                  <button class="btn btn-default" type="button" (click)="onSubmit()">
                    <nb-icon icon="checkmark-outline"></nb-icon>
                  </button>
                  <button class="btn btn-default" type="button" (click)="deleteCourseValue(i)">
                    <nb-icon icon="close-outline"></nb-icon>
                  </button>
                </td>

                <td>
                 
                  <input type="text"  class="ConfigId" name="course_id" [(ngModel)]="course.course_id" nbInput
                    fullWidth placeholder="ID">
                  
                </td>
                
                <td>
                   
                  <input type="text"  class="ConfigName" name="course.course_name"
                  [(ngModel)]="course.course_name" nbInput fullWidth placeholder="Course Name">
                
                </td>

              </tr>
           
            </thead>
            <tbody>
              <tr *ngFor="let course of courses ;let i=index">
                <td>
                  <div class="" *ngIf="EditRecord">
                    <!--  Edit course  -->
                    <button class="btn text-center" (click)="showEditcourse(course,template1)">
                      <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                    <!-- Remove course  -->
                    <button class="btn text-center" (click)="removecourse(course_id)">
                      <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>

                  </div>
                  <div class="" *ngIf="EditActions">
                    <button class="btn btn-default" *ngIf="course.id" type="button" (click)="updatecourse(coursename)">
                      <nb-icon icon="checkmark-outline"></nb-icon>
                    </button>
                    <button class="btn btn-default" type="button" (click)="Cancel(course)">
                      <nb-icon icon="close-outline"></nb-icon>
                    </button>
                  </div>
                </td>

                <td class="CourseData">{{course.course_id }}</td>
                <td class="CourseData">{{course.course_name}}</td>

                <ng-template #template1>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Update Course</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="name">Course Name</label>
                        <input type="text" class="ConfigName" name="coursename" [(ngModel)]="coursename" nbInput
                          fullWidth placeholder="departmentname">
                      </div>
                      <button type="button" class="btn btn-primary" *ngIf="course.id"
                        (click)="updatecourse(coursename);">Update</button>
                    </form>
                  </div>
                </ng-template>

              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-4">
          <img class="SetCourse" [src]="'assets/images/Set_course.png'">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <ng-template #elseBlock>

  </ng-template>

  <!-- department table -->
  <nb-card *ngIf="setdepartment">
    <nb-card-header>
      <div class="row">
        <div class="col-6 CourseTitle"> {{DepartmentTitle}}</div>
        <div class="col-6">
          <nb-select class="DeptList" placeholder="Departments" size="medium" appearances="outline"
            [(ngModel)]="selectDept">
            <nb-option *ngFor="let course of courses ;" value="Departments">{{course.course_id}}</nb-option>
          </nb-select>
        </div>
      </div>

    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="table table-borderless" id="departmenttable">
          <thead>
            <tr>
              <!-- <th *ngFor="let head of headElements" scope="col">{{head}}</th> -->
              <th scope="col">Actions</th>
              <th scope="col">ID</th>
              <th scope="col">Department Name</th>
              <th scope="col">Shortcode</th>
            </tr>
            <tr>
              <td><button nbButton size="medium" class="Addbtn" (click)="addDeptValue()" fullWidth>
                  <nb-icon icon="plus-outline"></nb-icon>
                </button>
              </td>
              <td>
                  <input type="text" class="ConfigId" name="newAttributedepartment_id" [(ngModel)]="newAttribute.department_id" nbInput
                  fullWidth placeholder="ID">
              </td>
              <td>
                  <input type="text" class="ConfigName" name="newAttributename"
                  [(ngModel)]="newAttribute.name" nbInput fullWidth placeholder="Department Name">
              </td>
              <td>
                  <input type="text" class="ConfigName" name="newAttributeshortcode"
                  [(ngModel)]="newAttribute.shortcode" nbInput fullWidth placeholder="Shortcode">
              </td>
            </tr>
            <tr *ngFor="let field of departmentfieldArray; let i = index">
              <td>
                <button class="btn btn-default" 
                  (click)="onSubmit()">
                  <nb-icon icon="checkmark-outline"></nb-icon>
                </button>
                <button class="btn btn-default" type="button" (click)="deleteDeptValue(i)">
                  <nb-icon icon="close-outline"></nb-icon>
                </button>
              </td>
              <td><input type="text" class="ConfigId" name="department_id" [(ngModel)]="department.department_id" nbInput fullWidth placeholder="ID">
              </td>
              <td><input type="text" class="ConfigName" name="name" [(ngModel)]="department.name" nbInput
                  fullWidth placeholder="departmentname"></td>
              <td><input type="text" class="ConfigName" name="shortcode" [(ngModel)]="department.shortcode" nbInput fullWidth
                  placeholder="shortcode"></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of departments;let i=index">
              <td>
                <div class="" *ngIf="EditRecord">
                  <!--  Edit course  -->
                  <button class="btn text-center" 
                    (click)="showEditdepartment()">
                    <nb-icon icon="edit-outline"></nb-icon>
                  </button>
                  <!-- Remove course  -->
                  <button class="btn text-center" (click)="removedepartment(department.id)">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                  </button>
                </div>
                <div class="" *ngIf="EditActions">
                  <button class="btn btn-default" type="button" (click)="updatedepartment(departmentname,shortcode)">
                    <nb-icon icon="checkmark-outline"></nb-icon>
                  </button>
                  <button class="btn btn-default" type="button" (click)="Cancel(course)">
                    <nb-icon icon="close-outline"></nb-icon>
                  </button>
                </div>
              </td>
              <td class="CourseData">{{ department.department_id }}</td>
              <td class="CourseData">{{ department.name }}</td>
              <td class="CourseData">{{ department.shortcode }}</td>

              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Update department</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="name">Department Name</label>
                      <input type="text" class="ConfigName" name="departmentname" [(ngModel)]="departmentname" nbInput
                        fullWidth placeholder="departmentname">
                      <label for="name">Short code</label>
                      <td><input type="text" class="ConfigName" name="shortcode" [(ngModel)]="shortcode" nbInput
                          fullWidth placeholder="shortcode"></td>
                    </div>
                    <button type="button" class="btn btn-primary" *ngIf="department.id"
                      (click)="updatedepartment(departmentname,shortcode);">Update</button>
                  </form>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>

      </div>
    </nb-card-body>
  </nb-card>
  <!-- set levels table -->
  <nb-card *ngIf="setlevels">
    <nb-card-header>
      <div class="row">
        <div class="col-6 CourseTitle"> {{LevelTitle}}</div>
        <div class="col-6" class="LevelList">
          <nb-select class="DeptList" placeholder="Departments" size="medium" appearances="outline"
            [(ngModel)]="selectDept">
            <nb-option *ngFor="let course of courses ;" value="Departments">{{course.coursename}}</nb-option>
          </nb-select>
          <nb-select placeholder="Shortcode" size="medium" appearances="outline" [(ngModel)]="selectDept">
            <nb-option *ngFor="let course of courses ;" value="Shortcode">{{course.id}}</nb-option>
          </nb-select>
        </div>
      </div>

    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <table class="table table-borderless" id="coursetable">
          <thead>
            <tr>
              <th *ngFor="let head of HeadElements" scope="col">{{head}}</th>
            </tr>
            <tr>
              <td><button nbButton size="medium" (click)="addLevelValue()" fullWidth>
                  <nb-icon icon="plus-outline"></nb-icon>
                </button></td>
              <td><input type="text" class="ConfigId" name="newAttributelevel_id" [(ngModel)]="newAttribute.level_id" nbInput
                  fullWidth placeholder="ID"></td>
              <td><input type="text" class="ConfigName" name="newAttributename"
                  [(ngModel)]="newAttribute.levelname" nbInput fullWidth placeholder="levelname"></td>
              <td><input type="text" class="ConfigName" name="newAttributeshortcode"
                  [(ngModel)]="newAttribute.levelshortcode" nbInput fullWidth placeholder="shortcode"></td>
              <td><input type="text" class="ConfigName" name="newAttributeyear" [(ngModel)]="newAttribute.year" nbInput
                  fullWidth placeholder="year"></td>
              <td><input type="text" class="ConfigName" name="newAttributeterms" [(ngModel)]="newAttribute.terms"
                  nbInput fullWidth placeholder="terms"></td>
            </tr>
            <tr *ngFor="let field of levelfieldArray; let i = index">
              <td class="LevelBlock">
                <button class="btn btn-default" 
                  (click)="addlevel(levelname,levelshortcode,year,terms)">
                  <nb-icon icon="checkmark-outline"></nb-icon>
                </button>
                <button class="btn btn-default" (click)="deleteLevelValue(i)">
                  <nb-icon icon="close-outline"></nb-icon>
                </button>
              </td>
              <td><input type="text" class="ConfigId" name="id" [(ngModel)]="level.level_id" nbInput fullWidth placeholder="ID">
              </td>
              <td><input type="text" class="ConfigName" name="levelname" [(ngModel)]="level.name" nbInput fullWidth
                  placeholder="levelname"></td>
              <td><input type="text" class="ConfigName" name="levelshortcode" [(ngModel)]="level.shortcode" nbInput
                  fullWidth placeholder="shortcode"></td>
              <td><input type="text" class="ConfigName" name="year" [(ngModel)]="level.year" nbInput fullWidth
                  placeholder="year"></td>
              <td><input type="text" class="ConfigName" name="terms" [(ngModel)]="level.terms" nbInput fullWidth
                  placeholder="terms"></td>
            </tr>
          </thead>
          <tbody>
            <!-- List of All leve;s  -->
            <tr *ngFor="let level of levels;let i=index">
              <td class="LevelBlock">
                <button class="btn btn-default" (click)="showEditlevel(level,template3)">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <button class="btn btn-default" (click)="removelevel(level.id)">
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
              </td>
              <!-- <td>{{levels.length}}</td> -->
              <td class="CourseData">{{level.level_id}}</td>
              <td class="CourseData">{{level.name}}</td>
              <td class="CourseData">{{level.shortcode}}</td>
              <td class="CourseData">{{level.year}}</td>
              <td class="CourseData">{{level.terms}}</td>
              <!-- Modal Template of New User Form -->
              <ng-template #template3>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Updatelevel</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="name">Level Name</label>
                      <input type="text" class="form-control" name="levelname" nbInput fullWidth placeholder="levelName"
                        [(ngModel)]="levelname">
                      <label for="name">Shortcode</label>
                      <input type="text" class="form-control" name="levelshortcode" nbInput fullWidth
                        placeholder="shortcode" [(ngModel)]="levelshortcode">
                      <label for="name">Year</label>
                      <input type="text" class="form-control" name="year" nbInput fullWidth placeholder="year"
                        [(ngModel)]="year">
                      <label for="name">Terms</label>
                      <input type="text" class="form-control" name="terms" nbInput fullWidth placeholder="terms"
                        [(ngModel)]="terms">
                    </div>
                    <button type="button" class="btn btn-primary" *ngIf="level.id"
                      (click)="updatelevel(levelname,levelshortcode,year,terms);">Update</button>
                  </form>
                </div>
              </ng-template>
            </tr>
          </tbody>
        </table>

      </div>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="Blocktree">
    <nb-card-header>
      <div class="row">
        <div class="col-6">
          <div class="btn btn-default" (click)="TreeBlock()">
            <nb-icon icon="close-outline"></nb-icon>Institute Course Specifications Block View
          </div>
        </div>
        <div class="col-6">
          <button class="btn btn-primary" (click)="Exportpdf()">ExportPDF</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <s2w-angular-d3-tree-lib [(treeData)]="data" (onNodeChanged)="nodeUpdated($event)"
        (onNodeSelected)="nodeSelected($event)"></s2w-angular-d3-tree-lib>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="Unknownstate">
    <img style="width: 100%;" [src]="'assets/images/Not_found.png'">
  </nb-card>
</div>