<div class="Course container">
  <nb-card>
    
    <nb-card-body>
      <div class="row">
        <div class="col-5">
            <div  class="HeadTitle p-3">COURSE CONFIGURATION</div>
            <div class="CardContent pl-3">{{CardContent}}</div>
            <div class="CreateBtn pt-2 pl-3">
                  <button class="Morebtn mr-2" nbButton shape="rectangle" size="small">More Info<nb-icon icon="arrowhead-right-outline"></nb-icon></button>
                  <button (click)="BlockTree($event)" class="Blockbtn" nbButton shape="rectangle" size="small">Block View</button>
            </div>      
        </div>
        <div class="col-7 CourseCategory">
            <button (click)="Course($event)" class="Coursebtn"  nbButton size="giant">
              <ul style="list-style-type:none;">
                <li><nb-icon  class="CourseIcons" icon="archive-outline"></nb-icon></li>
                <li>Set</li>
                <li>Courses</li>
              </ul>
            </button>
            <button (click)="Depts($event)" class="Coursebtn ml-4 mr-4" nbButton size="giant">
                <ul style="list-style-type:none;">
                <li><nb-icon  class="CourseIcons" icon="npm-outline"></nb-icon></li>
                <li>Set</li>
                <li>Depts.</li>
              </ul>
            </button>
            <button (click)="Levels($event)" class="Coursebtn"  nbButton size="giant">
              <ul style="list-style-type:none;">
                <li><nb-icon  class="CourseIcons" icon="bookmark-outline"></nb-icon></li>
                <li>Set</li>
                <li>Levels</li>
              </ul>
          </button>
          </div>
        </div>
      </nb-card-body>
  </nb-card>
  
  <!-- Course table -->
  <nb-card *ngIf="setcourse">
      <nb-card-header>
        <div class="row">
          <div class="col-6 CourseTitle"> {{CourseTitle}}</div>
        </div>
       
      </nb-card-header>
      <nb-card-body>
          <div class="row">
          <div class="col-8">
          <table class="table table-borderless" id="coursetable">
              <thead>
                  <tr>
                      <!-- <th *ngFor="let head of headElements" scope="col">{{head}}</th> -->
                      <th class="ActionTitle" scope="col">Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Course Name</th>
  
                  </tr>
                 <tr>
                    <td><button type="button" nbButton size="medium" class="Addbtn"  (click)="addFieldValue()"   fullWidth><nb-icon icon="plus-outline"></nb-icon></button></td>
                    <td><input type="text"  class="CourseId " name="newAttributeid" [(ngModel)]="newAttribute.id" nbInput fullWidth placeholder="ID"></td>
                    <td><input type="text" class="CourseName" id="newAttributecoursename" name="newAttributecoursename" [(ngModel)]="newAttribute.coursename" nbInput fullWidth placeholder="Course Name"></td>
                </tr>
                <tr *ngFor="let field of fieldArray; let i = index">
                  <td>
                      <button class="btn btn-default" *ngIf="!course.id"  (click)="addcourse(coursename)"><nb-icon icon="checkmark-outline"></nb-icon></button>
                      <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)"><nb-icon icon="close-outline"></nb-icon></button>
                  </td>
                    <td><input type="text" class="CourseId" name="id" [(ngModel)]="id" nbInput fullWidth placeholder="ID"></td>
                    <td><input type="text" class="CourseName" name="coursename" [(ngModel)]="coursename" nbInput fullWidth placeholder="Course Name"></td>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of courses ;let i=index">
                    <td>
                          <div class="" *ngIf="EditRecord">
                        <!--  Edit course  -->
                          <button class="btn text-center"   (click)="editCourse(course)"><nb-icon icon="edit-outline"></nb-icon></button>
                          <!-- Remove course  -->
                          <button class="btn text-center" (click)="removecourse(course.id)"><nb-icon icon="trash-2-outline"></nb-icon></button>
                          
                          </div>
                          <div class="" *ngIf="EditActions">
                              <button class="btn btn-default" *ngIf="course.id"  type="button"  (click)="updatecourse(coursename)"><nb-icon icon="checkmark-outline"></nb-icon></button>
                              <button class="btn btn-default"  type="button" (click)="Cancel(course)"><nb-icon icon="close-outline"></nb-icon></button>
                          </div>
                      </td>

                  <td class="CourseData">{{ i+1 }}</td>
                  <td class="CourseData">
                    <span *ngIf="!course.editable">{{course.coursename}}</span>
                    <input type="text" class="CourseName"  [(ngModel)]="course.coursename" *ngIf="course.editable" nbInput fullWidth placeholder="Course Name" name="coursename">
                  </td>
                </tr>
                  
              </tbody>
            </table>
          </div>
          <div class="col-4">
            <img class="SetCourse" [src]="'assets/images/Set_course.png'">
          </div>
    </div>
    </nb-card-body>
  </nb-card>
  <ng-template #elseBlock>
  
  </ng-template>
  
  <!-- department table -->
  <nb-card *ngIf="department">
    <nb-card-header>
      <div class="row">
        <div class="col-6 CourseTitle"> {{DepartmentTitle}}</div>
      </div>
     
    </nb-card-header>
    <nb-card-body>
        <div class="row">
        <table class="table table-borderless" id="departmenttable">
            <thead>
                <tr>
                    <!-- <th *ngFor="let head of headElements" scope="col">{{head}}</th> -->
                    <th scope="col">Actions</th>
                    <th scope="col">ID</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Shortcode</th>
                </tr>
               <tr>
                  <td><button  nbButton size="medium"  (click)="addcourse(coursename)"   fullWidth><nb-icon icon="plus-outline"></nb-icon></button></td>
                  <td><input type="text" class="CourseId" name="id" [(ngModel)]="id" nbInput fullWidth placeholder="ID"></td>
                  <td><input type="text" class="CourseName" name="departmentname" [(ngModel)]="departmentname" nbInput fullWidth placeholder="Department Name"></td>
                  <td><input type="text" class="CourseName" name="shortcode" [(ngModel)]="shortcode" nbInput fullWidth placeholder="Shortcode"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dept of departments;let i=index">
                  <td>
                      <!-- Show Edit User Form  -->
                      <div class="row">
                        <div class="btn text-center"  (click)="showEditcourseForm(course, template)"><nb-icon icon="edit-outline"></nb-icon>
                        </div>
                        <!-- Remove User  -->
                        <div class="btn text-center" (click)="removecourse(course.id)"><nb-icon icon="trash-2-outline"></nb-icon>
  
                        </div>
                        <div  class="btn text-center" (click)="viewcourse(course.id)"><nb-icon icon="person-outline"></nb-icon>
  
                        </div>
                      </div>
                    </td>
                <td class="CourseData">{{ i+1 }}</td>
                <td class="CourseData">{{ dept.departmentname }}</td>
                <td class="CourseData">{{ dept.shortcode }}</td>
              </tr>
                
            </tbody>
          </table>
      
  </div>
  </nb-card-body>
  </nb-card>
  <!-- set levels table -->
  <nb-card *ngIf="level">
    <nb-card-header>
      <div class="row">
        <div class="col-6 CourseTitle"> {{LevelTitle}}</div>
      </div>
     
    </nb-card-header>
    <nb-card-body>
        <div class="row">
        <table class="table table-borderless" id="coursetable">
            <thead>
                <tr>
                    <!-- <th *ngFor="let head of headElements" scope="col">{{head}}</th> -->
                    <th scope="col">Actions</th>
                    <th scope="col">ID</th>
                    <th scope="col">Level Name</th>
                    <th scope="col">Shortcode</th>
                    <th scope="col">Year</th>
                    <th scope="col">Terms</th>
                </tr>
               <tr>
                  <td><button  nbButton size="medium"  (click)="addcourse(coursename)"   fullWidth><nb-icon icon="plus-outline"></nb-icon></button></td>
                  <td><input type="text" class="CourseId" name="id" [(ngModel)]="id" nbInput fullWidth placeholder="ID"></td>
                  <td><input type="text" class="CourseName" name="levelname" [(ngModel)]="levelname" nbInput fullWidth placeholder="Level Name"></td>
                  <td><input type="text" class="CourseName" name="shortcode" [(ngModel)]="shortcode" nbInput fullWidth placeholder="Shortcode"></td>
                  <td><input type="text" class="CourseName" name="year" [(ngModel)]="year" nbInput fullWidth placeholder="Year"></td>
                  <td><input type="text" class="CourseName" name="terms" [(ngModel)]="terms" nbInput fullWidth placeholder="Terms"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let level of levels;let i=index">
                  <td>
                      <!-- Show Edit User Form  -->
                      <div class="row">
                        <div class="btn text-center"  (click)="showEditcourseForm(course, template)"><nb-icon icon="edit-outline"></nb-icon>
                        </div>
                        <!-- Remove User  -->
                        <div class="btn text-center" (click)="removecourse(course.id)"><nb-icon icon="trash-2-outline"></nb-icon>
  
                        </div>
                        <div  class="btn text-center" (click)="viewcourse(course.id)"><nb-icon icon="person-outline"></nb-icon>
  
                        </div>
                      </div>
                    </td>
                <td class="CourseData">{{ i+1 }}</td>
                <td class="CourseData">{{ level.levelname }}</td>
                <td class="CourseData">{{ level.shortcode }}</td>
                <td class="CourseData">{{ level.year }}</td>
                <td class="CourseData">{{ level.terms }}</td>
  
              </tr>
                
            </tbody>
          </table>
        
  </div>
  </nb-card-body>
  </nb-card>
  <nb-card *ngIf="Blocktree">
   <nb-card-header>
      <button class="btn btn-default"   (click)="blocktree()"><nb-icon icon="close-outline"></nb-icon>Institute Course Specifications Block View</button>
   </nb-card-header>
<nb-card-body>
    <s2w-angular-d3-tree-lib
    [(treeData)]="data"
    (onNodeChanged)="nodeUpdated($event)"
    (onNodeSelected)="nodeSelected($event)"></s2w-angular-d3-tree-lib>  
</nb-card-body>  
  </nb-card>
  <nb-card *ngIf="Unknownstate">
    <img style="width: 100%;" [src]="'assets/images/Not_found.png'">
  </nb-card>
  </div>