<div class="row">
  <div class="col-lg-6">

      <nb-card style="background-color: #0064F9">
         
          <nb-card-body>
              <h1> New Registration</h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">Institute Name</label>
                      <input type="text" nbInput fullWidth id="inputFirstName" name="iname" [(ngModel)]="iname" required>
                    </div>
                  </div>
                  </div>

                <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Faculty Name</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" name="fname" [(ngModel)]="fname" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Staff Number</label>
                  <input type="text" nbInput fullWidth id="inputLastName"  name="sname" [(ngModel)]="sname" required>
                </div>
              </div>
            </div>

            
              <div class="row">
                <div class="col-12">
                <label for="Papers Passed"><b>Papers Passed</b></label>
                <ng-multiselect-dropdown style="border-radius: 6px;"
[placeholder]="'custom placeholder'"
[data]="dropdownList"
[(ngModel)]="selectedItems"
[settings]="dropdownSettings"
(onSelect)="onItemSelect($event)"
(onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>
            </div>
</div>
           

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail" class="label">E-Mail</label>
                  <input type="email" nbInput fullWidth id="inputEmail" name="email" [(ngModel)]="email" required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite" class="label">Phone</label>
                  <input type="text" nbInput fullWidth id="inputWebsite" name="phone" [(ngModel)]="phone" required>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">PWT</label>
                      <input type="checkbox" nb-checkbox id="inputFirstName" name="pwt" [(ngModel)]="pwt" >
                    </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">PWI</label>
                          <input type="checkbox" nb-checkbox id="inputFirstName" name="pwi"[(ngModel)]="pwi">
                        </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                              <label for="inputFirstName" class="label">PWE</label>
                        <input type="checkbox" nb-checkbox id="inputFirstName" name="pwe"[(ngModel)]="pwe">
                              
                            </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="inputFirstName" class="label">Password</label>
                                  <input type="password" nbInput fullWidth id="inputFirstName"name="password" [(ngModel)]="password" required>
                                </div>
                  </div>
            </div>
            <button type="button" nbButton *ngIf="!faculty.id" (click)="addfaculty(iname, fname, sname, pmanaging, email, phone, pwt, pwi, pwe, password);">Register</button>
          </nb-card-body>
        </nb-card>
  
  </div>

  <div class="col-lg-6">


      <img src="/assets/images/season.png" width="80%" height="79%" style="margin-top:30px;">

     
  
</div>
</div>
