.step-content {
  text-align: left;
  
  button {
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 2.25rem!important;
    
    display: inline-block;
  }
}

select{
  padding: 11px 47px!important;
}