<nb-card>
    <nb-card-body>
      <div class="row d-md-flex">
  
        <div class="  col-sm-6 student-base">
          <h3>EXAM OPERATION</h3>
          <p>This page is used the exam Operation.</p>
          <a href="#" class="More-info" title="More"> More Info >></a>
        </div>
  
        <div class="col-sm-6 btn-tags">
  
          <button title="Person Add">
            <nb-icon icon="edit-2-outline"></nb-icon>
            <p>Pre Exam Ops</p>
          </button>
  
          <button title="People">
            <nb-icon icon="edit-2-outline"></nb-icon>
            <p>Exam Day Ops</p>
          </button>
  
          <button title="Person Remove">
            <nb-icon icon="edit-2-outline"></nb-icon>
            <p> Post Exam Ops </p>
          </button>
  
        </div>
      </div>
  
    </nb-card-body>
  </nb-card>
  
  
  <!--   table div container  -->
  
   <nb-card>
    <nb-card-body>
      <table class="table-div container">
        <tr>
          <td><strong>Monitor Evaluation</strong> </td>
          <td>
            <select>
              <option>01-Engineering</option>
              <option>02-Engineering</option>
              <option>03-Engineering</option>
            </select>
          </td>
          <td>
            <select>
              <option>Semester</option>
              <option>02</option>
              <option>03</option>
            </select>
          </td>
        </tr>
      </table>
    </nb-card-body>
  
  
  <!-- monitor evalution ended-->
  
  
   <nb-card-body>
      <div class="d-md-flex ">
  
        <div class="col-sm-3 side-border">
  
          <div>
            <p>Date</p>
           <p> </p>
          </div>
          <div>
            <p>Time</p>
            <input type="time" name="time" title="Time">
          </div>
  
        </div>
  
  <!-- monitor evation paper correction -->
  
    <div class="total-div col-sm-9">
          <div class="action-needed ">
            <div class="row">
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary" title="Paper Evaluated">
                  <h4>05</h4>
                  <p>Papers</p>
                </button>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary" title="Disputes Resolved">
                  <h4>80</h4>
                  <p>Students</p>
                </button>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary" title="Exams Contributed">
                  <h4>45%</h4>
                  <p>Evaluated</p>
                </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <div class="table">
              <table class="table table-d">
  
                <tr>
                  <th>Papers</th>
                  <th>Slot</th>
                  <th>#Students</th>
                  <th>Evaluated</th>
                  <th>Action</th>
                </tr>
  
                <tr>
                  <td>ME101</td>
                  <td>01</td>
                  <td>45</td>
                  <td>24/45</td>
                  <td><button type="button" title="View">View</button></td>
                </tr>
  
                <tr>
                  <td>ME101</td>
                  <td>01</td>
                  <td>45</td>
                  <td>24/45</td>
                  <td><button type="button" title="View" class="btn btn-primary">View</button></td>
                </tr>
  
              </table>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  