<nb-card>
  <nb-card-body class="pop-td">
    <table class="table table-responsive">
      <tr>
        <th>Exam</th>
        <th>Papers</th>
        <th>#Students</th>
      </tr>
      <tr>
        <td>Semester 1</td>
        <td>ME101, ME102</td>
        <td>24</td>
      </tr>

      <tr class="pop-btn">
        <td colspan="3">
          <button class="btn btn-primary" (click)="downloadFile()">Download Package</button>
        </td>
      </tr>

    </table>
  </nb-card-body>

</nb-card>




<!---2nd one -->


<nb-card>
  <nb-card-body class="pop-td">
    <table class="table table-responsive">
      <tr>
        <th>Exam</th>
        <th>Papers</th>
        <th>#Students</th>
      </tr>
      <tr>
        <td>Semester 1</td>
        <td>ME101, ME102</td>
        <td>24</td>
      </tr>
      <tr class="pop-btn">
        <td colspan="3"><button class="btn btn-primary">Download Seating Plan</button></td>
      </tr>
      <tr class="pop-btn">
        <td colspan="3"><button class="btn btn-primary">Download Student List</button></td>
      </tr>
      <tr class="pop-btn">
        <td colspan="3"><button class="btn btn-primary">Download Attendence sheet</button></td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>