<nb-card>
  <nb-card-body>
    <div class="row container">
      <div class="col-sm-6 bg-primary">
        <h2 class="text-white">Create New Season</h2>
        <form class="form-group">
          <table class="table tb-1">
            <tr>
              <td>
                <label class="text-white" for="inputdefault">Course</label>
                <select class="text-white bg-primary form-control">
                  <option>01-Engineering</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label class="text-white" for="inputdefault">Academic Year</label>
                <input type="text" title="" class="text-white bg-primary form-control" id="inputdefault">
              </td>
            </tr>
            <tr>
              <td>
                <label class="text-white" for="inputdefault">Season Name</label>
                <input type="text" title="" class="text-white bg-primary form-control" id="inputdefault">
              </td>
            </tr>
            <tr>
              <td>
                <button nb-button class="btn bg-white text-primary">Create</button>
              </td>
            </tr>
          </table>
        </form>
      </div>



      <div class="col-sm-6">
          <img src="/assets/images/undraw_skateboard_nmbb.png" alt="New Student Registration">
      </div>


    </div>
  </nb-card-body>
</nb-card>